
body
{
 padding: 0;
 margin: 0;
 width: 1280px;
 height: auto;
 font-family: 'Muli', sans-serif;
}

 .container
{
 padding: 0;
 margin: 0;
 width: auto;
}

/* le header/haut du site*/
nav
{
 width: 100%;
 height: 90px;
 background: #64aa88;
 margin-bottom: 50px;
}

.brand
{
 display: flex;
 justify-content: center;
 padding-top: 17px;
 color:#FFCA28;
 text-decoration: none;
 font-size: 2.5em;
 font-family: 'Muli', sans-serif;
 font-weight: bold;
}

/* contenu du site / main */
#box
{
 display: flex;
 flex-direction: column;
 width: 100%;
 height: 1100px;
 background: white;
}

.row /* page d'acceuil*/
{
 width: 100%;
 height: 550%;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

.row__menu /* les menus */
{
 display: flex;
 flex-direction: row;
 justify-content: center;
 text-align: left;
 width: 80%;
 /*width: auto;*/

}

.section /*section*/
{
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
}

.page_menu /* section__carte */
{
 width: 100%;
 height: 1280px;
 display: flex;
 flex-direction: column;
}

.menu
{
 width: 30%;
 height: 80%;
 border-top-color: rgb(224, 224, 224);
 border-top-style: solid;
 border-top-width: 2px;
 border-right-color: rgb(224, 224, 224);
 border-right-style: solid;
 border-right-width: 2px;
 border-bottom-color: rgb(224, 224, 224);
 border-bottom-style: solid;
 border-bottom-width: 2px;
 border-left-color: rgb(224, 224, 224);
 border-left-style: solid;
 border-left-width: 2px;
 border-image-source: initial;
 border-image-slice: initial;
 border-image-width: initial;
 border-image-outset: initial;
 border-image-repeat: initial;
 overflow: hidden;
}

.menu:hover /* test animation */
{
 transform: scale(1.2,1.2);
 opacity: 0.53;
 overflow: hidden;
 transition-duration: 2s;
}

.menu img /* important pour que la taille de l'image soit égale aux menus*/
{
 width: 100%;
 height: 100%;
 overflow: hidden;
}


.menu_carte /* .menu_carte */
{
 width: 80%;
 height: 1100px;
 box-shadow: 1px 1px 1px grey;
 background-color:#f7dcdc;
 margin-top: 32px;
 margin-left: 120px;
 margin-bottom: 0px;
 margin-right: 20px;
}

/* couleur de fond/cartes */
.menu_one /* carte_one */
{
 background-color:#fff5f8;
 margin-top: 32px;
}

.menu_two /* carte_two */
{
 background-color:#ebeded; /* #e8eded */
 margin-top: 32px;
}

.menu_three /* carte_three */
{
 background-color:#fbfcfa;
 margin-top: 32px;
}

#colone_titre
{
 width: 100%;
 height: 195px;
 display: flex;
 text-align: center;
}

.icon
{
 height: 55px;
 display: flex;
 justify-content: center;
 font-size: 70px;
 padding-top: 30px;
}

.fas
{
 height: 155px;
 background: linear-gradient(to right,#ff704d , #ff704d , #ff704d , #f2c59b);/* #ff704d */
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
}

.icon_end
{
 font-size: 50px;
}

/* carte 1 */
.Prelude
{
 height: 285px;
 display: flex;
 text-align: center;
 margin-top: -20px;
 width: 100%;
 justify-content: center;
}

.point-dorgue
{
 display: flex;
 justify-content: center;
 margin-top: 60px;
}

.mouvement-final
{
 display: flex;
 justify-content: center;
 margin-top: -13px;
}

/* carte2 */
.appetit
{
 height: 285px;
 display: flex;
 text-align: center;
 margin-top: -20px;
 width: 100%;
 justify-content: center;
}

.Plaisir
{
 display: flex;
 justify-content: center;
 margin-top: -60px;
}

.Gourmandises
{
 display: flex;
 justify-content: center;
 margin-top: -50px;
}

/* carte3 */
.commencer
{
 height: 330px;
 display: flex;
 text-align: center;
 width: 100%;
 justify-content: center;
}

.continuer
{
 display: flex;
 justify-content: center;
 margin-top: -70px;
}

.terminer
{
 display: flex;
 justify-content: center;
 margin-top: 3px;
}

/* carte */
.bloc_title /* bloc_titre */
{
 width: 100%;
 height: 175px;
 display: flex;
 flex-direction: column;
}

.bloc_one /* bloc1 */
{
 width: 100%;
 height: 375px;
 display: flex;
 flex-direction: column;
}

.bloc_two /* bloc2 */
{
 width: 100%;
 height: 275px;
 display: flex;
 flex-direction: column;
}

.bloc_three /* bloc3 */
{
 width: 100%;
 height: 275px;
 display: flex;
 flex-direction: column;
}

.bloc p
{
 font-family: 'Courgette', sans-serif;
 width: auto;
 color: black;
}

.bloc_five p
{
 font-family: 'Courgette', sans-serif;
 font-size: 21px;
 width: auto;
}

.title1
{
 font-family: 'Lily Script One',sans-serif;
 font-size: 2.5rem;
 display: flex;
 width: auto;
 margin-top: 29px;
 justify-content: center;
}

.subtitle_one /* m-1 */
{
 font-family: 'Courgette', sans-serif;
 font-size: 2rem;
 width: auto;
 height: 0px;
 text-decoration: none;
 margin-bottom: 16px;
 display: flex;
 justify-content: center;
 color: black;
}

.subtitle_one::after
{
 content:'';
 height: 3px;
 width: 0%;
 background-color: black;
 position: absolute;
 bottom: 31%; left: 10%;
 transition: all 500ms ease;
}

.subtitle_one:hover::after
{
 left: 40%;
 width: 20%;
}
/*------*/
.subtitle_ones /* m-1 */
{
 font-family: 'Courgette', sans-serif;
 font-size: 2rem;
 width: auto;
 height: 0px;
 text-decoration: none;
 margin-bottom: 16px;
 display: flex;
 justify-content: center;
 color: black;
}

.subtitle_ones::after
{
 content:'';
 height: 3px;
 width: 0%;
 background-color: black;
 position: absolute;
 bottom: -18%; left: 10%;
 transition: all 500ms ease;
}

.subtitle_ones:hover::after
{
 left: 40%;
 width: 20%;
}

/*------*/

.subtitle_oness /* m-1 */
{
 font-family: 'Courgette', sans-serif;
 font-size: 2rem;
 width: auto;
 height: 0px;
 text-decoration: none;
 margin-bottom: 16px;
 display: flex;
 justify-content: center;
 color: black;
}

.subtitle_oness::after
{
 content:'';
 height: 3px;
 width: 0%;
 background-color: black;
 position: absolute;
 bottom: -54%; left: 10%;
 transition: all 500ms ease;
}

.subtitle_oness:hover::after
{
 left: 40%;
 width: 20%;
}
/*---*/
.subtitle_two::after
{
 content:'';
 height: 3px;
 width: 0%;
 background-color: purple;
 position: absolute;
 bottom: 32%; left: 10%;
 transition: all 500ms ease;
}

.subtitle_two:hover::after
{
 left: 40%;
 width: 20%;
}
/*---*/
.three::after
{
 content:'';
 height: 3px;
 width: 0%;
 background-color: purple;
 position: absolute;
 bottom: 0.5%; left: 10%;
 transition: all 500ms ease;
}

.three:hover::after
{
 left: 40%;
 width: 20%;
}
/*---*/

.four::after
{
 content:'';
 height: 3px;
 width: 0%;
 background-color: purple;
 position: absolute;
 bottom: -25%; left: 10%;
 transition: all 500ms ease;
}

.four:hover::after
{
 left: 40%;
 width: 20%;
}

/*---*/

.subtitle_three::after
{
 content:'';
 height: 3px;
 width: 0%;
 background-color: black;
 position: absolute;
 bottom: 30%; left: 10%;
 transition: all 500ms ease;
}

.subtitle_three:hover::after
{
 left: 40%;
 width: 20%;
}
/*---*/

.subtitle_threes::after
{
 content:'';
 height: 3px;
 width: 0%;
 background-color: black;
 position: absolute;
 bottom: -7%; left: 10%;
 transition: all 500ms ease;
}

.subtitle_threes:hover::after
{
 left: 40%;
 width: 20%;
}

/*----*/

.subtitle_threess::after
{
 content:'';
 height: 3px;
 width: 0%;
 background-color: black;
 position: absolute;
 bottom: -42%; left: 10%;
 transition: all 500ms ease;
}

.subtitle_threess:hover::after
{
 left: 40%;
 width: 20%;
}
/*---*/

.subtitle_for::after
{
 content:'';
 height: 3px;
 width: 0%;
 background-color: black;
 position: absolute;
 bottom: 30%; left: 10%;
 transition: all 500ms ease;
}

.subtitle_for:hover::after
{
 left: 40%;
 width: 20%;
}
/*---*/

.subtitle_fors::after
{
 content:'';
 height: 3px;
 width: 0%;
 background-color: black;
 position: absolute;
 bottom: -7%; left: 10%;
 transition: all 500ms ease;
}

.subtitle_fors:hover::after
{
 left: 40%;
 width: 20%;
}

/*----*/

.subtitle_forss::after
{
 content:'';
 height: 3px;
 width: 0%;
 background-color: black;
 position: absolute;
 bottom: -41%; left: 10%;
 transition: all 500ms ease;
}

.subtitle_forss:hover::after
{
 left: 40%;
 width: 20%;
}
/*---*/

.title_top
{
 display: flex;
 justify-content: center;
 font-size: 2rem;
}

.title_end
{
 font-size: 2rem;
 margin-top: 10px;
 margin-left: 10px;
}

.title2
{
 font-family: 'Alice', serif;
 font-size: 3rem;
 display: flex;
 width: auto;
 margin-top: 90px;
 justify-content: center;
 background: linear-gradient(to right,#ff7733 , #d97441 , #b12ade , #8b08d1);/* #ff7733 */
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
}
/* menu2 */

.bloc_for p
{
 font-family: 'Alice', serif;
 font-size: 20px;
 width: auto;
}

.three, .four, .subtitle_two
{
 font-family: 'Alice', serif;
 font-size: 1.5rem;
 width: auto;
 height: 0px;
 text-decoration: none;
 margin-bottom: 16px;
 display: flex;
 justify-content: center;
}

.list, .list_one, .list_two
{
display:flex;
justify-content: space-between;
}

.list_one, .subtitle_two
{
color:#b55b2d;
}

.list_two, .three
{
color: purple;
}

.list_three, .four
{
color: #7213bf;
}

/* fin/menu2- colour des pharagraphe et sous titre */

.title3
{
 font-family: 'Dancing Script', cursive;
 font-size: 3.5rem;
 color:#1655d3;
 display: flex;
 width: auto;
 margin-top: 90px;
 justify-content: center;
 background: linear-gradient(to right,#1655d3 , #0c5af5 , #78a3fa , #78a3fa);/* #1655d3 */
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
}

.subtitle_three, .subtitle_threes, .subtitle_threess, .subtitle_for, .subtitle_fors, .subtitle_forss
{
 font-family: 'Courgette', sans-serif;
 font-size: 1.5rem;
 width: auto;
 height: 0px;
 color: black;
 text-decoration: none;
 margin-bottom: 16px;
 display: flex;
 justify-content: center;
}

.title4
{
 font-family: 'Kaushan Script', cursive;
 font-size: 3.5rem;
 display: flex;
 width: auto;
 margin-top: 90px;
 justify-content: center;
 background: linear-gradient(to right,#339933 , #339933 , #a5e8a5 , #a5e8a5);/* #339933 */
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
}

.menu_carte img /* important pour que la taille de l'image soit égale aux menus */
{
 width: 30%;
 height: 5%;
}

.line_one /* separateur-m1 */
{
 display: flex;
 margin-left: -20px;
 margin-bottom: -15px;
}

.line_two /* separateur-m2 */
{
 display: flex;
 margin-left: 620px;
 margin-bottom: 10px;
}

.line_three /* separateur-m3 */
{
 display: flex;
 margin-left: 0px;
 margin-bottom: -15px;
}

.line_for /* separateur-m4 */
{
 display: flex;
 margin-left: 620px;
 margin-bottom: 10px;
}

.line_five /* separateur-m5 */
{
 display: flex;
 margin-left: 0px;
 margin-bottom: -15px;
 height: 10px;
}

.line_six /* separateur-m6 */
{
 display: flex;
 margin-left: 620px;
 margin-bottom: 10px;
}

.price /* prix */
{

}

.p_mention
{
  width: 100%;
  height: auto;
  display:flex;
  text-align: center;
  justify-content: center;
  font-size: 1.5em;
  color: black;
  margin-left: 0px;
}

.info_mention
{
  width: auto;
  height: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2em;
  color: red;
}

.annonce
{
 width: 10rem;
 height: 1rem;
 padding-top: 1rem;
 padding-left: 3rem;
 padding-bottom: 1rem;
 padding-right: 1rem;
 margin-top: 70px;
 margin-left: 40%;
 margin-right: 35%;
 margin-bottom: 10px;
 border-radius: 10px;
 background-color: #64aa88;
}

.annonce p
{
 margin-top: -5px;
}

/* footer*/
footer
{
  width: 100%;
  height: 85px;
  margin-top: 40px;
  background: #64aa88;
}

p
{
 color:#FFCA28;
 font-size: 18px;
}

.bottom /* la class du footer */
{
  display: flex;
  flex-direction: row;
  margin-top: 197px;
  position: sticky;
  bottom: 0;
}

.left /* bloc gauche du footer/ mention */
{
 width: 50%;
 height: 90px;
 padding-left:25px;
}

.right /* bloc droit du footer/ contact */
{
  display: flex;
  flex-direction: row-reverse; /* axe de direction */
  width: 50%;
  height: 90px;
  padding-right:25px;
}

.annonce span{
  -webkit-animation: out linear 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: out linear 1s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
}

@-moz-keyframes out{
  0% {
    opacity:1;
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  25% {
    opacity:1;
    -moz-transform:  scaleX(0.95) scaleY(0.95) ;
  }
  50% {
    opacity:1;
    -moz-transform:  scaleX(1.10) scaleY(1.10) ;
  }
  100% {
    opacity:0;
    -moz-transform:  scaleX(0.30) scaleY(0.30) ;
  }
}

@-webkit-keyframes out {
  0% {
    opacity:1;
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  25% {
    opacity:1;
    -webkit-transform:  scaleX(0.95) scaleY(0.95) ;
  }
  50% {
    opacity:1;
    -webkit-transform:  scaleX(1.10) scaleY(1.10) ;
  }
  100% {
    opacity:0;
    -webkit-transform:  scaleX(0.30) scaleY(0.30) ;
  }
}


.Mention p:hover{
  -webkit-animation: bounce linear 1s;
  -webkit-animation-iteration-count: 3;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: bounce linear 1s;
  -moz-animation-iteration-count: 3;
  -moz-transform-origin: 50% 50%;
}

@-moz-keyframes bounce{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  15% {
    -moz-transform:  translate(0px,-25px)  ;
  }
  30% {
    -moz-transform:  translate(0px,0px)  ;
  }
  45% {
    -moz-transform:  translate(0px,-15px)  ;
  }
  60% {
    -moz-transform:  translate(0px,0px)  ;
  }
  75% {
    -moz-transform:  translate(0px,-5px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  15% {
    -webkit-transform:  translate(0px,-25px)  ;
  }
  30% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  45% {
    -webkit-transform:  translate(0px,-15px)  ;
  }
  60% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  75% {
    -webkit-transform:  translate(0px,-5px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

.follow p:hover{
  -webkit-animation: bounce linear 1s;
  -webkit-animation-iteration-count: 3;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: bounce linear 1s;
  -moz-animation-iteration-count: 3;
  -moz-transform-origin: 50% 50%;
}

@-moz-keyframes bounce{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  15% {
    -moz-transform:  translate(0px,-25px)  ;
  }
  30% {
    -moz-transform:  translate(0px,0px)  ;
  }
  45% {
    -moz-transform:  translate(0px,-15px)  ;
  }
  60% {
    -moz-transform:  translate(0px,0px)  ;
  }
  75% {
    -moz-transform:  translate(0px,-5px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  15% {
    -webkit-transform:  translate(0px,-25px)  ;
  }
  30% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  45% {
    -webkit-transform:  translate(0px,-15px)  ;
  }
  60% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  75% {
    -webkit-transform:  translate(0px,-5px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

/* responsive */
@media screen and (max-width: 1440px){

 .line_two, .line_for, .line_six
 {
  display: flex;
  margin-left: 570px;
  margin-bottom: 10px;
 }
}

@media screen and (max-width: 1223px){

 .line_one, .line_two, .line_three, .line_for, .line_five, .line_six
 {
  display: none;
 }
}

@media screen and (max-width: 1024px){
.bloc_for, .bloc_five
{
 width: 100%;
}

.subtitle_one
{
 margin-bottom: 36px;
}

.three, .four, .subtitle_two, .subtitle_for
{
 margin-bottom: 46px;
}
.Gourmandises
{
 margin-top: 0px;
}
.subtitle_three
{
 margin-bottom: 46px;
}



}

@media screen and (max-width: 800px){

  body
  {
   padding: 0;
   margin: 0;
   width: 1280px;
   height: 0px;
  }

  .menu_carte
  {
   width: 80%;
   height: 100%;
   box-shadow: 1px 1px 1px grey;
   margin-top: 0px;
   margin-left: 80px;
   margin-bottom: 0px;
   margin-right: 20px;
  }
}

@media screen and (max-width: 768px){

.section /* important pour la hauteur des sections */
{
 width: 100%;
 height: auto;
 display: flex;
 flex-direction: column;
}

.row
{
 width: 100%;
 height: auto;
 display:flex;
 flex-direction: column;
}

 .menu
{
 width: 80%;
 height: auto;
 margin-top: 30px;
 margin-left: 65px;
 margin-bottom: 30px;
 margin-right: 25px;
}

.subtitle_for
{
 margin-bottom: 36px;
}

.subtitle_three
{
 margin-bottom: 66px;
}

.three, .four, .subtitle_two
{
 margin-bottom: 46px;
}

.Gourmandises
{
 margin-top: 0px;
}

.subtitle_one
{
 margin-bottom: 36px;
}

.annonce
{
 display: flex;
 margin-top: 2700px;
 margin-left: auto;
 margin-right: auto;
}

}

@media screen and (max-width: 699px){

  .menu
  {
   width: 80%;
   height: auto;
   margin-top: 30px;
   margin-left: 70px;
   margin-bottom: 30px;
   margin-right: 25px;
  }

 .modif
 {
     width: 100%;
     height: 1100px;
     display: flex;
     flex-direction: column;
 }

  .annonce
  {
    display: flex;
    margin-top: 2300px;
    margin-left: auto;
    margin-right: auto;
  }

  .point-dorgue
  {
    margin-top: 110px;
  }

  .mouvement-final
  {
    margin-top: 33px;
  }

  .icon_end
  {
    display: none;
  }
}

/* break-point*/
@media screen and (max-width: 630px) and (min-width: 650px){

  .menu
  {
   width: 80%;
   height: auto;
   margin-top: 30px;
   margin-left: 60px;
   margin-bottom: 30px;
   margin-right: 25px;
  }

  .section
  {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
  }

  .annonce
  {
    display: flex;
    /* justify-content: center; */
    margin-top: 2000px;
    margin-left: auto;
    margin-right: auto;
  }

}

/* break-point */
@media screen and (max-width: 649px) and (min-width: 600px){

  .annonce
  {
    display: flex;
    margin-top: 2100px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* break-point */
@media screen and (max-width: 599px) and (min-width: 570px){

  .p_mention
  {
    width: 100%;
    height: auto;
    display:flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    margin-left: 0px;
  }

  .annonce
  {
    display: flex;
    margin-top: 2000px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* break-point */
@media screen and (max-width: 569px) and (min-width: 532px){

  .p_mention
  {
    width: 100%;
    height: auto;
    display:flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    margin-left: 0px;
  }

  .annonce
  {
    display: flex;
    margin-top: 1800px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* break-point */
@media screen and (max-width: 532px) and (min-width: 500px){

  .line_one
  {
   display: none;
  }



  .p_mention
  {
    width: 100%;
    height: auto;
    display:flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    margin-left: 0px;
  }

  .annonce
  {
    display: flex;
    margin-top: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 425px){

  body
  {
    padding: 0;
    margin: 0;
    width: 1280px;
    height: 180px;
  }

  .title1
  {
    font-size: 2rem;
  }

  .title2
  {
   margin-top: 30px;
  }

  .subtitle_two, .subtitle_three, .four
  {
   margin-bottom: 70px;
   font-size: 1.5rem;
   text-align: center;
  }

  .subtitle_one
  {
   margin-bottom: 30px;
  }

  .subtitle_for
  {
   margin-bottom: 40px;
  }

  .title3
  {
    margin-top: 30px;
  }

  .title4
  {
    margin-top: 2px;
  }

  .bloc p
  {
   font-size: 15px;
  }

  .line_one, .line_two, .line_three, .line_for, .line_five, .line_six
  {
   display: none;
  }

  .row__menu
  {
  text-align: left;
  width: 80%;
  }

  .three
  {
  font-size: 1.5rem;
  margin-bottom: 50px;
  }

  .point-dorgue
  {
   margin-top: 30px;
  }

  .Plaisir, .Gourmandises
  {
    margin-top: 5px;
  }

  .mouvement-final
  {
  margin-top: -50px;
  }

   .menu
  {
   width: 80%;
   height: auto;
   margin-top: 30px;
   margin-left: 35px;
   margin-bottom: 30px;
   margin-right: 25px;
  }

  .menu_carte
  {
  width: 80%;
  height: 95%;
  box-shadow: 1px 1px 1px grey;
  margin-top: 0px;
  margin-left: 40px;
  margin-bottom: 0px;
  margin-right: 20px;
 }

 .p_mention
 {
   width: 100%;
   height: auto;
   display:flex;
   text-align: center;
   justify-content: center;
   font-size: 20px;
   color: black;
   margin-left: 0px;
 }

  .annonce
 {
  display: flex;
  margin-top: 1100px;
  margin-left: auto;
  margin-right: auto;
 }

}

@media screen and (max-width: 375px){

  .title1
  {
    font-size: 2rem;
  }

  .ligne2
  {
   display: none;
  }

  .menu_carte
  {
    width: 87%;
    height: 96%;
    box-shadow: 1px 1px 1px grey;
    margin-left: 20px;
    margin-right: 20px;
  }

  .icon_end
  {
   display: none;
  }

  .p_mention
  {
    width: 100%;
    height: auto;
    display:flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    margin-left: 0px;
  }

  .annonce
  {
    display: flex;
    margin-top: 850px;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (max-width: 360px){
 .menu_carte
 {
  height: 96%;
 }
}

@media screen and (max-width: 320px){

 h1
{
 font-size: 2rem;
}

.menu_carte
{
 height: 95%;
}

.title4
{
 font-size: 3rem;
 margin-top: 30px;
}

.ligne2
{
 display: none;
}

.subtitle_for
{
 margin-bottom: 70px;
 text-align: center;
}

.subtitle_one
{
 margin-top: 10px;
 text-align: center;
}

.subtitle_ones
{
 margin-bottom: 30px;
}

.subtitle_oness
{
 margin-bottom: 70px;
}

.subtitle_three, .subtitle_threes, .subtitle_threess, .subtitle_for, .subtitle_fors, .subtitle_forss
{
 margin-bottom: 30px;
}


.point-dorgue
{
 margin-top: 90px;
}

.mouvement-final
{
 margin-top: 30px;
}

.icon_end
{
 display: none;
}

.title_top
{
 display: flex;
 text-align: center;
}

.p_mention
 {
  width: 100%;
  height: auto;
  display:flex;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  color: black;
  margin-left: 0px;
 }

 .brand
 {
  display: flex;
  text-align: center;
  font-size: 2.0em;
 }

 .left
 {
  padding-left: 0px;
 }

 .right
 {
  padding-right: 0px;
 }

}
